body{
    background-color: rgb(3, 3, 54);
}
.biggHeader{
    color: white;
    text-align: center;
}
.stuffWantedText{
    color: white;
    
}
.funkinText{
    color: white;
}
a:hover{
    color: pink;
}